In [3]:
# Menampilkan dataset menggunakan library pandas
import pandas as pd
dataset = pd.read_csv("C:\dataset\Bank_Personal_Loan_Modelling.csv")
print(dataset)

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ASUS_\AppData\Local\Temp\ipykernel_17200\385414799.py:3: SyntaxWarning: invalid escape sequence '\d'
  dataset = pd.read_csv("C:\dataset\Bank_Personal_Loan_Modelling.csv")

        ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4    1.6          1
1        2   45          19      34     90089       3    1.5          1
2        3   39          15      11     94720       1    1.0          1
3        4   35           9     100     94112       1    2.7          2
4        5   35           8      45     91330       4    1.0          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4995  4996   29           3      40     92697       1    1.9          3
4996  4997   30           4      15     92037       4    0.4          1
4997  4998   63          39      24     93023       2    0.3          3
4998  4999   65          40      49     90034       3    0.5          2
4999  5000   28           4      83     92612       3    0.8          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
...          ...
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]

Syntax di atas berfungsi untuk membaca file CSV dengan menggunakan fungsi 'read_csv()' dari pandas. File CSV yang dibaca adalah "Bank_Personal_Loan_Modelling.csv" yang terletak di direktori 'C:\dataset'. Fungsi 'read_csv()' mengonversi isi file CSV menjadi sebuah DataFrame, yaitu struktur data tabular dua dimensi yang disediakan oleh pandas.

In [4]:
# Menampilkan kolom-kolom pada dataset
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [5]:
x = dataset[['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg','Education', 'Mortgage', 'Personal Loan', 'Securities Account','CD Account', 'Online']]
print(x)

        ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4    1.6          1
1        2   45          19      34     90089       3    1.5          1
2        3   39          15      11     94720       1    1.0          1
3        4   35           9     100     94112       1    2.7          2
4        5   35           8      45     91330       4    1.0          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4995  4996   29           3      40     92697       1    1.9          3
4996  4997   30           4      15     92037       4    0.4          1
4997  4998   63          39      24     93023       2    0.3          3
4998  4999   65          40      49     90034       3    0.5          2
4999  5000   28           4      83     92612       3    0.8          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

[5000 rows x 13 columns]

Syntax di atas digunakan untuk memilih kolom-kolom dari dataset yang telah di baca sebelumnya dan akan di simpan dalam variabel 'x'

In [6]:
y = dataset['CreditCard']
print(y)

0       0
1       0
2       0
3       0
4       1
       ..
4995    0
4996    0
4997    0
4998    0
4999    1
Name: CreditCard, Length: 5000, dtype: int64

Syntax di atas digunakan untuk memilih kolom 'CreditCard' dan disimpan dalam variabel 'y'

In [7]:
import sklearn 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

Syntax diatas terdapat fungsi 'train_test_split' dari submodul 'model_selection' di dalam scikit-learn atau sklearn. Fungsi ini digunakan untuk membagi dataset menjadi subset untuk pelatihan dan pengujian. Dimana 'x_train' (fitur untuk pelatihan), 'x_test' (fitur untuk pengujian), 'y_train' (target untuk pelatihan), dan 'y_test' (target untuk pengujian). 'test_size=2' dimana 0.2 atau 20% yaitu presentase dataset yang akan digunakan untuk pengujian. 'random_state=1' digunakan untuk mengontrol randomization saat membagi dataset. Memberikan nilai 1 ke 'random_state' akan memastikan bahwa pembagian dataset menjadi x_train, x_test, y_train, dan y_test akan konsisten setiap kali kode dijalankan.

In [8]:
len(x_test)

1000

Syntax diatas digunakan untuk mengetahui panjang dari 'x_test' atau fitur pengujian

In [9]:
len(y_train)

4000

Syntax diatas digunakan untuk mengetahui panjang dari 'y_train' atau target pengujian

In [10]:
# pemodelan
from sklearn import tree

clf = tree.DecisionTreeClassifier()

Syntax diatas atas adalah syntax yang di gunakan untuk pemodelan dimana 'tree.DecisionTreeClassifier()' adalah constructor yang digunakan untuk membuat instance dari model tersebut dan menyimpannya dalam variabel 'clf'. Instance ini akan digunakan untuk melatih model pada data yang telah dipisahkan sebelumnya menggunakan 'train_test_split'.

In [11]:
# Tahap cross validation
from sklearn.model_selection import cross_val_score

scores = cross_val_score(clf, x, y, cv=10)

Syntax diatas adalah tahap untuk melakukan 'cross validation' atau teknik evaluasi untuk pemodelan yang telah kita buat. 'cv=10' digunakan untuk menampilkan jumlah lipatan (folds) pada cross-validation, disini kita menggunakan 10-fold cross-validation.jadi, ada 10 nilai akurasi.

In [12]:
scores

array([0.674, 0.612, 0.606, 0.664, 0.52 , 0.61 , 0.608, 0.598, 0.628,
       0.286])

fungsi ini di gunakan untuk menampilkan 10 nilai akurasi yang tersimpan dalam variabel scores dari syntax sebelumnya